/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 */

.datepicker
  padding: 4px
  direction: ltr
.datepicker-inline
  width: 220px

.datepicker.datepicker-rtl
  direction: rtl
  table tr td span
    float: right

.datepicker-dropdown
  top: 0
  left: 0
  &:before
    content: ''
    display: inline-block
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    border-bottom: 7px solid #fff
    border-top: 0
    border-bottom-color: #fff
    position: absolute
  &:after
    content: ''
    display: inline-block
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-bottom: 6px solid #fff
    border-top: 0
    position: absolute
  &.datepicker-orient-left
    &:before
      left: 6px
    &:after
      left: 7px
  &.datepicker-orient-right
    &:before
      right: 6px
    &:after
      right: 7px
  &.datepicker-orient-top
    &:before
      top: -7px
    &:after
      top: -6px
  &.datepicker-orient-bottom
    &:before
      bottom: -7px
      border-bottom: 0
      border-top: 7px solid #fff
    &:after
      bottom: -6px
      border-bottom: 0
      border-top: 6px solid #fff

.datepicker
  > div
    display: none
  &.days div.datepicker-days, &.months div.datepicker-months, &.years div.datepicker-years
    display: block
  table
    margin: 0
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  td, th
    text-align: center
    width: 20px
    height: 20px
    border: none

.table-striped .datepicker table tr
  td, th
    background-color: transparent

.datepicker
  table tr td
    &.day
      &:hover, &.focused
        background: #eeeeee
        cursor: pointer
    &.old, &.new
      color: #999999
    &.disabled
      background: none
      color: #999999
      cursor: default
      &:hover
        background: none
        color: #999999
        cursor: default
    &.today
      background-color: #fde19a
      color: #000
      &:hover
        background-color: #fde19a
        color: #000
      &.disabled
        background-color: #fde19a
        color: #000
        &:hover
          background-color: #fde19a
          color: #000
      &:hover, &.disabled:hover, &:active, &:hover:active
        background-color: #fdf59a
      &.disabled
        &:active, &:hover:active
          background-color: #fdf59a
      &.active, &:hover.active
        background-color: #fdf59a
      &.disabled
        &.active, &:hover.active
          background-color: #fdf59a
        background-color: #fdf59a
      &:hover.disabled
        background-color: #fdf59a
      &.disabled
        &.disabled, &:hover.disabled
          background-color: #fdf59a
      &[disabled], &:hover[disabled]
        background-color: #fdf59a
      &.disabled
        &[disabled], &:hover[disabled]
          background-color: #fdf59a
      &:active, &:hover:active
        background-color: #fbf069 \9
      &.disabled
        &:active, &:hover:active
          background-color: #fbf069 \9
      &.active, &:hover.active
        background-color: #fbf069 \9
      &.disabled
        &.active, &:hover.active
          background-color: #fbf069 \9
      &:hover:hover
        color: #000
      &.active:hover
        color: #fff
    &.range
      background: #eeeeee
      &:hover
        background: #eeeeee
      &.disabled
        background: #eeeeee
        &:hover
          background: #eeeeee
      &.today
        background-color: #f3d17a
        &:hover
          background-color: #f3d17a
        &.disabled
          background-color: #f3d17a
          &:hover
            background-color: #f3d17a
        &:hover, &.disabled:hover, &:active, &:hover:active
          background-color: #f3e97a
        &.disabled
          &:active, &:hover:active
            background-color: #f3e97a
        &.active, &:hover.active
          background-color: #f3e97a
        &.disabled
          &.active, &:hover.active
            background-color: #f3e97a
          background-color: #f3e97a
        &:hover.disabled
          background-color: #f3e97a
        &.disabled
          &.disabled, &:hover.disabled
            background-color: #f3e97a
        &[disabled], &:hover[disabled]
          background-color: #f3e97a
        &.disabled
          &[disabled], &:hover[disabled]
            background-color: #f3e97a
        &:active, &:hover:active
          background-color: #efe24b \9
        &.disabled
          &:active, &:hover:active
            background-color: #efe24b \9
        &.active, &:hover.active
          background-color: #efe24b \9
        &.disabled
          &.active, &:hover.active
            background-color: #efe24b \9
    &.selected
      background-color: #9e9e9e
      color: #fff
      &:hover
        background-color: #9e9e9e
        color: #fff
      &.disabled
        background-color: #9e9e9e
        color: #fff
        &:hover
          background-color: #9e9e9e
          color: #fff
      &:hover, &.disabled:hover, &:active, &:hover:active
        background-color: #808080
      &.disabled
        &:active, &:hover:active
          background-color: #808080
      &.active, &:hover.active
        background-color: #808080
      &.disabled
        &.active, &:hover.active
          background-color: #808080
        background-color: #808080
      &:hover.disabled
        background-color: #808080
      &.disabled
        &.disabled, &:hover.disabled
          background-color: #808080
      &[disabled], &:hover[disabled]
        background-color: #808080
      &.disabled
        &[disabled], &:hover[disabled]
          background-color: #808080
      &:active, &:hover:active
        background-color: #666666 \9
      &.disabled
        &:active, &:hover:active
          background-color: #666666 \9
      &.active, &:hover.active
        background-color: #666666 \9
      &.disabled
        &.active, &:hover.active
          background-color: #666666 \9
    &.active
      background-color: $color-a
      color: #fff
      &:hover
        background-color: #006dcc
        color: #fff
      &.disabled
        background-color: #006dcc
        color: #fff
        &:hover
          background-color: #006dcc
          color: #fff
      &:hover, &.disabled:hover, &:active, &:hover:active
        background-color: $color-a
      &.disabled
        &:active, &:hover:active
          background-color:  $color-a
      &.active, &:hover.active
        background-color:  $color-a
      &.disabled
        &.active, &:hover.active
          background-color: $color-a
        background-color: $color-a
      &:hover.disabled
        background-color: $color-a
      &.disabled
        &.disabled, &:hover.disabled
          background-color: $color-a
      &[disabled], &:hover[disabled]
        background-color: $color-a
      &.disabled
        &[disabled], &:hover[disabled]
          background-color: $color-a
      &:active, &:hover:active
        background-color: #003399 \9
      &.disabled
        &:active, &:hover:active
          background-color: #003399 \9
      &.active, &:hover.active
        background-color: #003399 \9
      &.disabled
        &.active, &:hover.active
          background-color: #003399 \9
    span
      display: block
      width: 23%
      height: 54px
      line-height: 54px
      float: left
      margin: 1%
      cursor: pointer
      &:hover
        background: #eeeeee
      &.disabled
        background: none
        color: #999999
        cursor: default
        &:hover
          background: none
          color: #999999
          cursor: default
      &.active
        background-color: #006dcc
        color: #fff
        &:hover
          background-color: #006dcc
          color: #fff
        &.disabled
          background-color: #006dcc
          color: #fff
          &:hover
            background-color: #006dcc
            color: #fff
        &:hover, &.disabled:hover, &:active, &:hover:active
          background-color: $color-a
        &.disabled
          &:active, &:hover:active
            background-color: $color-a
        &.active, &:hover.active
          background-color: $color-a
        &.disabled
          &.active, &:hover.active
            background-color: $color-a
          background-color: $color-a
        &:hover.disabled
          background-color: $color-a
        &.disabled
          &.disabled, &:hover.disabled
            background-color: $color-a
        &[disabled], &:hover[disabled]
          background-color: $color-a
        &.disabled
          &[disabled], &:hover[disabled]
            background-color: $color-a
        &:active, &:hover:active
          background-color: #003399 \9
        &.disabled
          &:active, &:hover:active
            background-color: #003399 \9
        &.active, &:hover.active
          background-color: #003399 \9
        &.disabled
          &.active, &:hover.active
            background-color: #003399 \9
      &.old, &.new
        color: #999999
  th.datepicker-switch
    width: 145px
  thead tr:first-child th, tfoot tr th
    cursor: pointer
  thead tr:first-child th:hover, tfoot tr th:hover
    background: #eeeeee
  .cw
    font-size: 10px
    width: 12px
    padding: 0 2px 0 5px
    vertical-align: middle
  thead tr:first-child th.cw
    cursor: default
    background-color: transparent

.input-append.date .add-on i, .input-prepend.date .add-on i
  cursor: pointer
  width: 16px
  height: 16px

.input-daterange
  input
    text-align: center
    &:first-child
    &:last-child
  .add-on
    display: inline-block
    width: auto
    min-width: 16px
    height: 20px
    padding: 4px 5px
    font-weight: normal
    line-height: 20px
    text-align: center
    vertical-align: middle
    background-color: #eeeeee
    border: 1px solid #ccc
    margin-left: -5px
    margin-right: -5px

.datepicker
  &.dropdown-menu
    position: absolute
    top: 100%
    left: 0
    z-index: 1000
    float: left
    display: none
    min-width: 160px
    border-radius: 0
    list-style: none
    background-color: #ffffff
    border: 1px solid #fff
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
    -webkit-background-clip: padding-box
    -moz-background-clip: padding
    background-clip: padding-box
    *border-right-width: 2px
    *border-bottom-width: 2px
    color: #333333
    font-size: 14px
    line-height: 20px
    th
      padding: 4px 5px
  &.datepicker-inline th, &.dropdown-menu td, &.datepicker-inline td
    padding: 4px 5px