@charset "UTF-8"

/* Slider */

.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent
  &__container
    @media (max-width: $screen-xs-max)
      padding: 5px

.slick-list
  position: relative
  overflow: hidden
  display: block
  margin: 0
  padding: 0
  &:focus
    outline: none

.slick-loading .slick-list
  background: white url("./ajax-loader.gif") center center no-repeat

.slick-list.dragging
  cursor: pointer
  cursor: hand

.slick-slider .slick-track
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  -o-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  left: 0
  top: 0
  display: block
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both

.slick-loading .slick-track
  visibility: hidden

.slick-slide
  float: left
  height: 100%
  min-height: 1px
  display: none
  overflow: hidden
  img
    max-width: 100%
[dir="rtl"] .slick-slide
  float: right

.slick-slide
  img
    display: block
  &.slick-loading img
    display: none
  &.dragging img
    pointer-events: none

.slick-initialized .slick-slide
  display: block

.slick-loading .slick-slide
  visibility: hidden

.slick-vertical .slick-slide
  display: block
  height: auto
  border: 1px solid transparent

/* Icons */
// @font-face
  font-family: "slick"
//   src: url("./fonts/slick.eot")
//   src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg")
//   font-weight: normal
//   font-style: normal


/* Arrows */

.slick-prev, .slick-next
  position: absolute
  display: block
  opacity: 0
  height: 35px
  width: 40px
  line-height: 0
  font-size: 0
  cursor: pointer
  background: transparent
  color: #333
  top: 50%
  margin-top: -10px
  padding: 0
  border: none
  outline: none
  background: #fff
  top: 10px
  transition: opacity 0.2s linear 1s
.slick-slider
  &:hover
    .slick-prev, .slick-next
      transition: opacity 0.2s linear 0s
      opacity: 1
.slick-prev
  &:hover, &:focus
    outline: none
    background: #eee
    color: transparent
.slick-next
  &:hover, &:focus
    outline: none
    background: #eee
    color: transparent

.slick-prev
  &:hover:before, &:focus:before
    opacity: 1

.slick-next
  &:hover:before, &:focus:before
    opacity: 1

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
  opacity: 0.25

.slick-prev:before, .slick-next:before
  // font-family: "slick"
  font-size: 20px
  line-height: 1
  color: #333
  opacity: 0.75
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.slick-prev
  right: 40px

[dir="rtl"] .slick-prev
  left: auto
  right: 0

.slick-prev:before
  content: "←"

[dir="rtl"] .slick-prev:before
  content: "→"

.slick-next
  right: 0

[dir="rtl"] .slick-next
  left: -25px
  right: auto

.slick-next:before
  content: "→"

[dir="rtl"] .slick-next:before
  content: "←"

/* Dots */

.slick-slider
  margin-bottom: 30px

.slick-dots
  position: absolute
  top: -70px
  right: 0
  left: auto
  list-style: none
  display: block
  text-align: right
  padding: 0
  width: 100%
  li
    position: relative
    display: inline-block
    height: 30px
    width: 25px
    margin: 0 0px
    padding: 0
    cursor: pointer
    @media (max-width: $screen-lg-min)
      width: 20px
    @media (max-width: $screen-sm-min)
      width: 8px
      button
        &:before
          font-size: 18px!important
    button
      border: 0
      background: transparent
      display: block
      height: 20px
      width: 20px
      outline: none
      line-height: 0
      font-size: 0
      color: transparent
      padding: 0px
      cursor: pointer
      &:hover, &:focus
        outline: none
      &:hover:before, &:focus:before
        opacity: 1
      &:before
        position: absolute
        top: 0
        left: 0
        content: "•"
        width: 20px
        height: 20px
        // font-family: "slick"
        font-size: 30px
        line-height: 20px
        text-align: center
        color: black
        opacity: 0.25
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    &.slick-active button:before
      color: black
      opacity: 0.75

/*# sourceMappingURL=slick.css.map */
