{% block content %}
  {% if has_category %}
    <div class="content content--header content--indented page-header--fullwidth"">
      <div class="container" role="document">
        <div class="row">
          <div class="col-md-8 ">
          
            {% if icon %}
              <img class="show-image show-image-left" src="{{ icon }}">
              {% endif %}
              <div class="breadcrumbs">
                {{ function('the_breadcrumb') }}
              </div>
              <h1 class="category-detail__headline">
                <span class="hidden">Sendung:
                </span>
                {{ category_title }}</h1>
              <div class="category-detail__description">
                {{ category_description }}
              </div>
            </div>
            <div class="col-md-4">
              {% if has_schedule %}
                <h4 class="section-headline">
                  Sendetermine
                </h4>
                <ul class="datelist">
                  {% for item in schedule %}
                    <li class="datelist__item">
                      <time style="display: block">
                        {{ item.day }}
                        {{ item.hour }}:{{ item.minute  == '0' ? '00' : item.minute }}
                        bis
                        {{ item.hour_end }}:{{ item.minute_end == '0' ? '00' : item.minute_end  }}
                        Uhr
                      </time>
                    </li>
                  {% endfor %}
                </ul>
                <a class="link-more-content" href="{{link_program}}">Gesamtes Programm</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="page-header">
        <div class="container" role="document">
          <div class="breadcrumbs">
            {{ function('the_breadcrumb') }}
          </div>
          <h1 style="margin-bottom: 40px; display: none;">
            Alle Sendungen
          </h1>
        </div>
      </div>
    {% endif %}
    <div class="content content--indented content--white">
      <div class="container" role="document">
        <div class="row">
          {% if has_posts %}
            <div class="col-md-12">
              <h5 class="section-headline" >
                Artikel
              </h5>
            </div>
            {% for post in posts %}
              <div class="col-md-12">
                <div class="article-show-column__container">
                  <article class="article-show-column   {% if has_icon %} article-show-column--no-image {% endif %} ">
                    <header class="article-show-column__header">
                      {% if has_icon %}
                        <a href="/?show={{ category_slug }}"><img class="article-show-column__icon" src="{{ icon }}"/></a>
                      {% endif %}
                    </header>
                    <div class="article-show-column__body">
                      <h2 class="article-show-column__title">
                        <a href="{{ post.link }}" rel="bookmark" title="{{post.title}}">
                          {{ post.title }}</a>
                      </h2>
                      <p class="article-show-column__text">
                        {{ post.preview }}
                      </p>
                    </div>
                    <div class="article-show-column__footer">
                      <a class="category" href="/?show={{ category_slug }}"> {{ category_title }}</a> 

                      <span class="date">
                        am
                        {{ post.date }}</span>
                    </div>
                  </article>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        {% if pagination %}
          <nav class="row post-nav">
            <ul class="col-xs-12 pager">
              <li class="previous">
                {{ function('next_posts_link', 'Ältere Sensdungen') }}</li>
              <li class="next">
                {{ function('previous_posts_link', 'Neuere Sendungen') }}
              </li>
            </ul>
          </nav>
        {% endif %}
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.container -->
{% endblock %}