{% block content %}
  <div class="content content--header">
    <div class="container">
      <div class="breadcrumbs">
        {{ function('the_breadcrumb') }}
      </div>
      <h1>
        Alle {{ label }}
      </h1>
    </div>
  </div>
  <div class="content content--white">
    <div class="container">
      <div class="row">
        {% for post in posts %}

        <div class="col-md-12">
            <div class="article-show-column__container">
              <article class="article-show-column ">
                <div class="article-show-column__body">
                  <h2 class="article-show-column__title">
                    <a href="{{ post.link }}" rel="bookmark" title="{{post.title}}">
                      {{ post.title }}</a>
                  </h2>
                  <p class="article-show-column__text">
                    {{ post.preview }}
                  </p>
                </div>
                <div class="article-show-column__footer">
                  <span class="date">
                    am {{ post.date }}</span>
                </div>
              </article>
            </div>
          </div>
        {% endfor %}
      </ul>
    </div>
    {% if pagination %}
      <nav class="row post-nav">
        <ul class="col-xs-12 pager">
          <li class="previous">
            {{ function('next_posts_link', 'Ältere '.name) }}</li>
          <li class="next">
            {{ function('previous_posts_link', 'Neuere '.name) }}
          </li>
        </ul>
      </nav>
    {% endif %}
  </div>
</div>
{% endblock %}
