{% block content %}
  <div class="content " style="display:none;">
    <div class="container">
      <div class="breadcrumbs">
        {{ function('the_breadcrumb') }}
      </div>
    </div>
  </div>
  <div class="content content--white">
    <div class="container">
      <div class="breadcrumbs" style="display:block">
        {{ function('the_breadcrumb') }}
      </div>
      <article class="article-detail row {% if noImage %} article-detail--noImage {% endif %}">
        <div class="article-detail__content col-md-12">
          <header>
            <img class="show-image show-image--article" src="{{ icon }}"/>
          </header>
          {% if image %}
            <div class=" section-article-image ">
              <img src="{{ image }}"/>
            </div>
            {{ function('get_template_part','templates/element', 'cc') }}
          {% endif %}
          <div class="article-detail__body">
            <h1 class="article-detail__headline">
              {{ post.title}}</h1>
            <div class="article-detail__people">
              {% if post.meta('showmasters') or post.meta('showmasters_guest') %}
                <span>
                  Moderation:
                  {% for item in post.meta('showmasters') %}
                    <a href="{{item.link}}">
                      {{item.title}}</a>
                  {% endfor %}
                  {{post.meta('showmasters_guest')}}
                </span>
              {% endif %}
              {% if post.meta('editors') or post.meta('editors_guest') %}
                <span>
                  Redaktion:
                  {% for item in post.meta('editors') %}
                    <a href="{{item.link}}">
                      {{item.title}}</a>
                  {% endfor %}
                  {{post.meta('editors_guest')}}
                </span>
              {% endif %}
              {% if post.meta('news') or post.meta('news_guest') %}
                <span>
                  Nachrichten:
                  {% for item in post.meta('news') %}
                    <a href="{{item.link}}">
                      {{item.title}}</a>
                  {% endfor %}
                  {{post.meta('news_guest')}}
                </span>
              {% endif %}
              {% if post.meta('music') or post.meta('music_guest') %}
                <span>
                  Musik:
                  {% for item in post.meta('music') %}
                    <a href="{{item.link}}">
                      {{item.title}}</a>
                  {% endfor %}
                  {{post.meta('music_guest')}}
                </span>
              {% endif %}
              {% if post.meta('author') or post.meta('author_guest') %}
                <span>
                  Erstellt von:
                  {% for item in post.meta('author') %}
                    <a href="{{item.link}}">
                      {{item.title}}</a>
                  {% endfor %}
                  {{post.meta('author_guest')}}
                </span>
              {% endif %}
              {% if post.meta('assistence') or post.meta('assistence_guest') %}
                <span>
                  Assistenz:
                  {% for item in post.meta('assistence') %}
                    <a href="{{item.link}}">
                      {{item.title}}</a>
                  {% endfor %}
                  {{post.meta('assistence_guest')}}
                </span>
              {% endif %}
              {% if post.meta('guests') %}
                <span>
                  Gäste:
                  {{post.meta('guests')}}
                </span>
              {% endif %}
            </div>
            <div class="row">
              <div class="article-detail__text col-md-8">
                {% if hasFile %}
                  <audio style="margin: 10px 0" src="{{file}}" controls preload="none">
                    <a href="{{file}}">Podcast herunterlden</a>
                  </audio>
                {% endif %}
                {% if hasFiles %}
                  {% for item in files %}
                    <audio style="margin: 10px 0" src="{{item.file}}" controls preload="none">
                      <a href="{{item.file}}">Podcast herunterlden</a>
                    </audio>
                  {% endfor %}
                {% endif %}
                {{post.content}}
              </div>
              <div class="col-md-3  col-md-3 col-md-offset-1 article-detail__meta">
                {% if post.meta('date') %}
                  <div class="section-meta__links">
                    <h5 class="section-headline">Veranstaltungsdatum</h5>
                       <time>
                            <span class="datelist__date">
                               <b>{{ post.meta('date') }}</b>
                            </span>
                            {% if post.meta('time') %}
                            </br>
                              um
                              <span class="datelist__hour">
                              {{ post.meta('time') }}
                                Uhr</span>
                            </time>
                          {% endif %}
                  </div>
                {% else %}
                  {{ function('get_template_part','templates/element', 'metadate') }}
                {% endif %}
                {% if post.meta('location') %}
                  <div class="section-meta__links">
                    <h5 class="section-headline">Veranstaltungsort</h5>
                      {{ post.meta('location') }}
                  </div>
                {% endif %}
                {% if links  %}
                  <div class="section-meta__links">
                    <h5 class="section-headline">Links zum Artikel</h5>
                    <ul class="linklist">
                      {% for item in links %}
                        <li class="linklist__item">
                          <a target="_blank" style="display: block" href="{{item['link-url']}}" title="{{item['link-name']}}">
                            {{item['link-name']}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <div class="section-meta__links">
                  {% if post.meta('schedule') %}
                    <h5 class="section-headline">Sendetermine</h5>
                    <ul class="datelist">
                      {% for item in post.meta('schedule') %}
                        <li class="datelist__item">
                          <time>
                            <span class="datelist__date">
                              {{ item.date }}
                            </span>
                            um
                            <span class="datelist__hour">
                              {{ item.time }}
                              Uhr</span>
                          </time>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}
