.category-detail
	&__headline
		margin: 10px 0 5px
	&__description
		margin: 10px 0
		font-size: 18px
		line-height: 1.6
		font-weight: 300
		letter-spacing: 0.02em
		line-height: 1.8
		p
			font-weight: 300
.tab-panel
	&__tablist
		border-bottom: 1px solid #eee
		margin-bottom: 0px
		margin-top: 10px
	&__tab
		display: inline-block
		border-bottom: 3px solid transparent
		padding: 0 10px 10px 10px
		margin-bottom: 0
		margin-top: 10px
		&.active
			border-bottom: 3px solid #333

.page-header
	&--fullwidth-compact
		background: $page-header-bg
.page-header
	&--fullwidth
		padding: 0  0 30px 0
		background: #fff
		background: rgba(255,255,255,0.65)
		margin-bottom: 0
		& + .content
			@media (min-width: $screen-sm-min)
				// margin-top: 60px

		.section-headline
			margin: 55px 0 0px


.page-content

.content
	min-height: 0!important
	&--header 
		// background: rgba(0,0,0,0.03)
		background: rgba(255, 255, 255, 0.4)
		@media (min-width: $screen-sm-min)
			padding-bottom: 25px	

	&--white 
		background: #fff

.article-not-found
	color: $text-color-light
	text-transform: uppercase
	border: 1px dotted $text-color-light
	padding: 10px 15px
	border-radius: 4px
	margin-left: -10px
	font-weight: normal
	margin-bottom: 10px

.linklist-item
	margin-bottom: 1px
	padding: 10px 10px
	border-bottom: 1px solid #f5f5f5
	background: #fff
	font-family: $font-family-a
	&:nth-child(even)
		background: #f9f9f9

// Article News
.article-news
	margin-bottom: 1px
	padding: 10px 10px
	border-bottom: 1px solid #f5f5f5
	background: #fff
	&:nth-child(even)
		background: #f9f9f9

	&__text
		font-size: 13px
		line-height: 20px
		margin: 10px 0 0 0
	&__headline
		margin: 0
		padding: 0

// Show Preview (on Start)
$image-size: 80px
.show-image, .show-category-image
	border-radius: $image-size
	height: $image-size
	width: $image-size
.show-image--small

.show-image--article
	left: -20px
	top: -15px
	width: 65px
	height: 65px
	background: #fff
	border: 6px solid transparent
	position: absolute
	@media (max-width: $screen-xs-max)
		display: none
	.article-detail--noImage &
		display: none

.show-image-left
	position: absolute
	left: 0px
	top: 50px
	@media (max-width: $screen-sm-max)
		position: static
		float: left
		margin-right: 30px 
		margin-bottom: 10px
	@media (max-width: $screen-xs-max)
		margin-right: 20px
		height: $image-size/2
		width: $image-size/2

.article-show
	ight: $image-size + 20
	margin-bottom: 40px
	padding-top: 20px

	&__header
	&__footer
		font-size: 13px
		color: #999
		a
			font-weight: bold
	&__text
		margin: 0 0 10px
	&__title
		margin: 0
		padding-top: 0
		margin-top: 0
		font-size: 30px
		text-transform: uppercase

.article-show-column
	background: #fff
	height: 100%
	margin-bottom: 40px
	@media (max-width: $screen-xs-max)
		padding-bottom: 10px
	&__container
		margin-bottom: 0px
		@media (max-width: $screen-xs-max)
			padding: 0
			margin-bottom: 10px
	&__body
		padding: 0
	&__header
		position: relative
	&__image-container
		@media (min-width: $screen-xs-min)
			height: 250px
		overflow: hidden
		display: block
		img
			width: 100%
	$icon-size: 50px
	&__icon
		position: absolute
		left: -20px
		top: -20px
		width: $icon-size
		height: $icon-size
		border-radius: $icon-size
		border: 4px solid transparent
		background: #fff
		transition: all 0.1s ease
		@media (max-width: $screen-sm-max)
			display: none
		&:hover
			transform: scale(1.1)
		.article-show-column--no-image & 
			display: none
	&__title
		padding: 10px 0 10px 0
		margin: 0
	&__text
		margin: 0 0 10px
		line-height: 1.7


	&__footer
		padding: 0 10px 30px 0px
		@media (max-width: $screen-xs-max)
			padding-bottom: 10px
		border-bottom: 1px solid #eee
		font-size: 13px
		color: #999
		a
.article-show--row
	margin-bottom: 60px
	background: #fff
	height: 100%
	&__header
		position: relative
	&__image-container
		overflow: hidden
		display: block
		img
			width: 100%
	$icon-size: 50px
	&__icon
		position: absolute
		left: -20px
		top: -20px
		width: $icon-size
		height: $icon-size
		border-radius: $icon-size
		border: 4px solid $body_bg
		background: #fff
	&__title
		margin: 10px 0 10px 0
	&__text
		margin: 0 0 10px
		line-height: 1.7

	&__body
		padding: 10px 30px
	&__footer
		padding: 10px 30px
		border-top: 1px solid #eee
		font-size: 13px
		color: #999
// All Shows
.group-category
	background: #fff
	margin-bottom: 10px
.article-category
	position: relative
	margin: 10px 0
	height: 180px
	padding-top: 20px
	background: #fff
	padding: 20px 20px
	border-left: 1px solid #eee
	@media (min-width: $screen-md-min)
		width: 49%
		height: 180px
		float: left
		margin-right: 1%
	&__img
		position: absolute
		left: 20px
		border: none
		top: 25px
		width: 80px
		box-shadow: none
	&__title, &__body
		padding-left: 100px
	&__title
		margin: 0
	&__body
		color: lighten($text-color,30%)
		font-size: 14px


// Podcasts
.article-podcast
	margin-bottom: 10px
	padding: 10px 15px
	height: 100%
	background: #fff
	&-wrapper
		margin-bottom: 15px
	&--detail
		margin-top: 20px
	&__description
		margin: 10px 0
		padding: 0
	&__footer
		color: $text-color-light
		font-size: 13px

// Playlist
$bg-playlist-row: #fbfbfb
$bg-playlist-row-b: darken($bg-playlist-row,2%)
.section-playlist-container
	// height: 300px
.section-playlist
	padding: 0px 0px
	@media (min-width: $screen-md-min)
		column-count: 0
		column-gap: 20px
	&.today
		.item-playlist:first-child
			background: $footer-bg!important
			color: #fff
			.time
				color: #fff
			.track:after
				content: "(Aktueller Song)"
				font-style: italic
				font-size: 12px
				text-transform: uppercase
				display: inline-block
				margin-left: 20px
.item-playlist
	// padding-left: 30px
	// border-bottom: 1px solid #f0f0f0
	margin-bottom: 1px
	padding-top: 6px
	padding-bottom: 6px
	background: #fff
	// padding: 6px 0px 6px 20px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden

	// &:hover
	// 	background: #f0f0f0
	.artist,
	.time
		display: inline-block
		margin-right: 20px
	.time
		color: #999
	.artist
		margin-right: 10px
	&.event
		// padding-top: 10px
		// padding-bottom: 10px
		background: #eee
		.time
		.track
			font-weight: bold
			// &:after
			// 	content: " Event"
			// 	font-style: italic
			// 	font-weight: 300
		.artist
			display: none
	&.current
		color: green

	&:nth-child(even)
		background: $bg-playlist-row
		&:hover
			background: darken($bg-playlist-row-b,2%)
	&:nth-child(odd)
		background: $bg-playlist-row-b
		&:hover
			background: darken($bg-playlist-row-b,2%)

.section-article-image
	margin-top: 10px
	max-height: 400px
	overflow: hidden
	img
		width: 100%


.article-detail
	&__content
		margin-top: 20px
	&__meta
		margin-top: -30px
		@media (max-width: $screen-sm-max)
			margin-top: 20px
			padding: 5px 15px 15px 15px
			background: #f5f5f5
		.section-headline
			margin: 30px 0 10px
	&__image
		background: #fff
	.copyright
		padding: 10px 0px
		margin: 0
		background: #fff
		@media (max-width: $screen-xs-max)
			padding: 10px 0px
	&__body
		background: #fff
		padding: 10px 0px
		@media (max-width: $screen-xs-max)
			padding-bottom: 0
		@media (min-width: $screen-sm-min)
			padding: 20px 0px
			margin-bottom: 10px
	&__headline
		// text-transform: uppercase
		margin: 10px 0 30px
	&__people
		margin-top: -20px
		margin-bottom: 20px
		font-size: 13px
		color: $text-color-light
		text-transform: uppercase
		a
			text-transform: none
			// color: #text
			&:after
				content: ","
			&:last-child:after
				content: ""
		> span
			font-size: 12px
			&:after
				display: inline-block
				padding: 0 5px

				color: #ccc
				content: "/"
			&:last-child:after
				content: ""
			> span
				text-transform: none

/**
 *  PEOPLE
 */

.article-people-detail
	&__image
		margin-top: 30px
.article-people
	max-height: 300px
	margin-bottom: 20px
	&__content
		p
			margin: 10px 0
	&__body
		background: #fff
		padding: 4px 10px
	&__title
		margin-top: 5px
	&__image
		width: 100%
		// margin-top: 20px
	&__image-container
		overflow: hidden
		background: darken($body_bg,5%)
		max-height: 180px
		min-height: 180px
/**
 *  Event Slide s
 */

.article-message-slide
	display: block
	a
		&:hover, &:active, &:focus
			color: $link-color
			text-decoration: none

	&__inner
		padding: 30px 20px
		background: #fff
		position: relative
	&__headline
		margin: 0
		font-size: 40px
		line-height: 1
		color: $text-color
		text-transform: uppercase
		letter-spacing: -0.02em
	&__datetime
		font-weight: 300
		font-size: 24px
		color: $text-color-light

	// &--image, &--both
	&__image-container
		max-height: 390px
		overflow: hidden
		img
			width: 100%
	&--all &__image_container
		max-height: 250px

.article-message-slide--text
	display: block
.article-message-slide--both
	display: block
.article-message-slide--image
	display: block

.article-events--compact
	border-bottom: 1px solid #f5f5f5
	background: #fff
	padding: 12px 10px
	&:nth-child(even)
		background: #f9f9f9

	&:first-child
		margin-top: 12px
	&__datetime
		color: $text-color-light
		display: block
		font-size: 14px
	&__headline
		font-size: 16px
		margin: 0
		time
			display: inline-block
			width: 140px
			margin-right: 10px
			float: right
			font-weight: 300
