

/* --- timetable --- */

table.table-timetable

  // width: 100%
  // font-size: 11px
  // color: #666
  // margin-top: 30px
  // border: none
  // font-family: arial
  // letter-spacing: normal
  // font-size: 11px
  // line-height: normal
  // border-collapse: separate !important
  // border-spacing: 2px !important
  // *
  //   box-sizing: content-box
  //   -moz-box-sizing: content-box
  //   -webkit-box-sizing: content-box

.table-timetable
  width: 100%
  background: #fff
  &--sticky
    thead
      position: fixed
      width: 100%
      background-color: #fff
      top: 180px
      z-index: 999
  th, td
    font-size: 14px
    font-weight: normal
    font-style: normal
    line-height: normal
    color: #34495E
    width: 12.5%
    text-transform: none
    border: none !important
    &.empty
      // background: #fbfbfb
  th
    &:first-child
      // width: 100px
    // width: 12.5%
    padding: 20px 15px 18px
    letter-spacing: normal
    font-family: $font-family-a
    letter-spacing: 0.2em
    text-transform: uppercase
    // background: $body-bg
  td
    // width: 12.5%
    vertical-align: top
    // height: 31px
    border: none
    padding: 0
    // border-top: 1px solid #eee
  .hours
    color: #FFF
    // color: darken($color-a,20%)

    font-weight: bold
  .top_hour
    margin-bottom: 20px
  .td-hours
    text-align: right
    padding: 10px 20px 10px 10px
    // color: $text-color-light
    font-family: $font-family-a
    border-right: 1px solid #f5f5f5!important


  .event_container
    padding: 0px 10px 0px
    border-top: 1px solid #eee
    display: block
    box-sizing: border-box
    display: inline-block
    width: calc(100% - 20px)
    opacity: 0.9
    color: #fff
    min-height: 120px
    box-sizing: content-box
    background-color: darken($color-a,5%)
    &:first-child
    &:hover
      background-color: darken($color-a,9%)
      opacity: 1
      text-decoration: none!important
    //
    //
    // &--color-a
    //   background-color: #70B92E
    // &--color-b
    //   background-color: #7FDE28
    // &--color-c
    //   background-color: #D0E919
    // &--color-d
    //   background-color: #D028DE
    // &--color-e
    //   background-color: #F872DA
    // &--color-f
    //   background-color: #44E0E9
    // &--color-g
    //   background-color: #28B4DE
    // &--color-h
    //   background-color: #399CB9
    // &--color-i
    //   background-color: #F4B81B
    // &--color-j
    //   background-color: #FFDE00
    // &--color-k
    //   background-color: #716D52
    // &--color-l
    //   background-color: #D0D2CB
    /*height: 100px; */
  .td-event
    color: #FFF
    line-height: 140%
    text-align: left
    padding: 0 !important
    height: 100%
    height: 1px
    vertical-align: top
    border: 1px solid #eee!important
    border-width: 0 1px!important
    &.items_1
      .event_container
        height: 100%
    &.items_2
      .event_container
        height: 50%
        // margin-top: 2px
        &:first-child
          margin-top: 0
    &.items_3
      .event_container
        height: 33.333333%
    &.items_4
      .event_container
        height: 25%
    &.items_5
      .event_container
        height: 20%
    .event_title
      display: block
      color: #fff !important
      // color: darken($color-a,30%)!important

      font-family: $font-family-a
      font-size: 18px
      font-weight: bold
      margin-bottom: 2px
      padding-top: 10px
      text-decoration: none
      outline: none
      transition: none !important

    a
      &:hover, &.event_header:hover
        text-decoration: underline
  tr
    height: 40px
    border-collapse: collapse
    // border-top: 1px solid #ccc
    &:nth-child(even)
      td
        // background-color: #fff
    &:nth-child(odd)
      td
        background-color: #f5f5f5
      td.td-hours
        // background-color: #fff!important


/* --- tip/tooltip/qtip --- */


.table-responsive
  overflow: hidden
@media screen and (max-width: 940px)
  .table-responsive
    border: none
    table
      overflow-x: auto
      display: block
