.footer
	background: $footer-bg!important
	color: $footer-color
	// style="background:#f5f5f5; padding: 30px 0 100px; margin-top: 50px"
	padding: 30px 0 100px
	ul
		margin: 5px 0 10px
		padding: 0
		li
			display: block
			a
				color: $footer-link-color
				font-size: 14px

	.widget
		h3
			margin: 10px 0 0 0
			color: $footer-color

.footer__logo
	width: 100%
	height: 80px
	opacity: 0.8
	fill: #ff00ff



// STICKY FOOTER
// *
// 	margin: 0

// html, body
// 	height: 100%

// .site-wrap:after
// 	content: ""
// 	display: block

// .footer, .site-wrap:after
// 	height: 300px


// .site-wrap
// 	min-height: 100%
// 	/* equal to footer height */
// 	margin-bottom: -300px
//
//
//
// STICKY FOOTER

@media (min-width: $screen-md-min)
	html
		position: relative
		min-height: 100%
	body
		margin: 0 0 300px /* bottom = footer height */

	.footer
		position: absolute
		left: 0
		bottom: 0
		height: 300px
		width: 100%
