.head
	// background-color: $header-bg
	position: relative
	min-height: 150px
	@media (max-width: $screen-xs-max)
		min-height: 100px
		background: rgba(255,255,255,0.5)


.head-logo
	svg
		width: 190px
		height: 70px
	@media (max-width: $screen-sm-max)
		svg
			width: 150px
			height: 50px
	// mobile only
	@media (max-width: $screen-xs-max)
		margin-left: $grid-gutter-width/2
		svg
			width: 140px
			// height: 70px


.button-toggle-search
	display: inline-block
	background: none
	border: none
	opacity: 0.2
	margin-top: 5px
	float: right
	width: 40px
	height: 80px
	margin-right: -20px
	svg
		width: 18px
		height: 18px
	&:hover
		opacity: 1
	&:focus
		outline: none



.head-search
	z-index: 999
	display: none
	background: $header-bg
	position: relative
	margin: 30px 0
	&__button
		display: inline-block
		background: none
		border: none
		opacity: 0.2
		margin-top: 5px
		svg
			width: 18px
			height: 18px

	&__textfield
		width: 100%
		height: 55px
		line-height: 55px
		padding: 0 10px
		margin-top: -15px
		font-size: 20px
		padding-left: 20px
		background: #fbfbfb
		box-shadow: none
		border: 1px solid #ccc
		&:focus
			border: 1px solid #333
			background: #fff
		::placeholder,
		::input-placeholder
			color: #333
	&__button-submit
		position: absolute
		top: -5px
		right: 10px

@media (max-width: $screen-xs-max)
	.button-toggle-search
		display: none !important



.navbar-top
	font-size: 13px
	margin-bottom: 0

.navbar-header
	position: relative
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
		position: absolute
		top: 10px
// 	margin-left: -$container-left-padding!important
.navbar-main

	position: static
	&__list
	@media (max-width: $screen-xs-max)
		// margin-bottom: 10px!important
		background: #fff
		position: relative
		overflow: visible!important
		// mobile nav arrow
		&:before
			content: ''
			position: absolute
			top: -15px
			right: 12px
			width: 0
			height: 0
			border-style: solid
			border-width: 0 20px 20px 20px
			border-color: transparent transparent #fff transparent
.nav-main
	.caret
		width: 16px
		height: 16px
		display: inline-block
		background: none
		position: absolute
		transform: scale(0.6)
		border: none
		margin-left: 0
		background-image: url(../../assets/svg/chevron-down.svg)
		transition: transform 0.15s
		opacity: 0.9
		@media (min-width: $screen-sm-min)
			bottom: 26px
			left: 15px
	> li
		&.open, &:hover
			.caret
				background-image: url(../../assets/svg/chevron-down-hover.svg)
		&:hover
			.caret
				transform: translateY(-4px)
		&.open
			.caret
				transform: translateY(18px)
				opacity: 0

$move-pixels: 15px

.stream-player
	background: #F1D300 // yell00h
	background: #F100EA
	background: #69AF29 // dark green
	transition: all 0.2s ease
	height: 62px
	width: 40px
	position: relative
	cursor: pointer
	position: absolute
	left: -40px
	margin-top: -21px
	@media (max-width: $screen-xs-max)
		left: 0px
	&:hover
		background: darken(#69AF29,10%) // dark green
		// transform: translateY(15px)
	svg path,
	svg polygon,
	svg rect
		fill: #fff
	svg
		margin: 5px 10px
	&__svg
		height: 34px
		display: none
		position: absolute
		left: 0px
		bottom: 0px
		&--loading
		&--playing
			bottom: 5px
			svg
				transform: rotate(180deg)
		&--pause
			display: block
			opacity: 0
		&--play


	&--state-idle,
	&--state-pause
		.stream-player
			&__svg
				&--loading
					display: none
				&--playing
					display: none
				&--play
					display: block

	&--state-loading
		.stream-player
			&__svg
				&--loading
					display: block
				&--pause
					display: none
				&--playing
					display: none
				&--play
					display: none
	&--state-playing
		&:hover
			.stream-player
				&__svg
					opacity: 0
					&--pause
						opacity: 1
		.stream-player
			&__svg
				&--loading
					display: none
				&--playing
					display: block

				&--play
					display: none

.currently-playing
	margin-right: 0
	position: relative
	// mobile only
	@media (max-width: $screen-xs-max)
		overflow: hidden
	&__song
		&__inner
			@media (max-width: $screen-xs-max)
				padding-left: 40px
				overflow: hidden
	&__submenu
		display: none!important

	@media (max-width: $screen-xs-max)
		margin: 0 -10px
		padding: 0 0 0 20px
		&__submenu

			display: none
		&__song
			width: 100%
	// desktop + only
	@media (min-width: $screen-sm-min)
		display: inline-block
		float: left
		// border-radius: 20px
		margin-top: -1px
		padding: 0
		&__submenu
			position: absolute
			top: 0px
			left: 0
			transition: top 0.9s ease 1s
			// display: none
			li
				display: inline-block
				margin: 0 20px 0 0

		&__song

			&__inner
				background: $color-a
				z-index: 2
				position: relative
				padding:  0 20px

				@media (max-width: $screen-xs-max)
					padding-left: 50px
				@media (min-width: $screen-sm-min)
					min-width: 240px
					max-width: 380px
					text-overflow: ellipsis
					overflow: hidden
					padding-top: 20px
					margin-top: -20px

				&:before
					position: absolute
					top: 0
					color: #fff
					left: 20px
					content: "Aktueller Song"
					opacity: 0
					transition: opacity 0.2s ease 1s

			&__submenu
				z-index: 1

			position: relative
			transition: margin-top 0.2s ease-out 1s
			padding-top: $move-pixels
			margin-top: -$move-pixels
			cursor: pointer
			// overflow-x: hidden
			// overflow-y: auto
			&:hover
				transition: margin-top 0.2s ease 0s

				// background: darken($color-a,5%)
				margin-top: -1px
				.currently-playing__song__inner
					&:before
						opacity: 0.8
						transition: opacity 0.2s ease 0s

				.currently-playing__submenu
					top: 38px
					display: block
					transition: top 0.2s ease 0.1s

	background: $color-a
	padding: 0 40px
	color: #fff
	line-height: 16px
	transition: width 0.2s
	&__show
		display: none
	&__icon
		float: left
		margin: 12px 6px 0 0
	&__song
		// border-right: 1px solid #fff
		// padding-right: 10px
		display: inline-block
		&__artist
			font-weight: 800
	height: 40px
	line-height: 40px
	white-space: nowrap


// Subnavigation below the header
.nav-sub
	display: block
	margin: 0
	margin-left: -5px
	margin-top: 20px
	// desktop + only

	@media (max-width: $screen-sm-max)
		border-bottom: 1px solid #bbb
		margin-bottom: 20px
		padding-bottom: 10px

	// border-bottom: 1px solid #eee
	> li
		display: block
		@media (max-width: $screen-sm-max)
			display: inline-block

		margin-bottom: -1px
		> a

			margin-right: 20px
			font-size: 15px
			text-transform: uppercase
			display: inline-block
			padding: 10px 5px
			color: $link-color
			color: $text-color
			font-family: $font-family-a
			@media (max-width: $screen-sm-max)
				padding: 5px 5px
				margin-right: 10px
			// border-radius: 20px
			// font-weight: bold
			&:hover, &:active, &:focus
				text-decoration: none
				color: darken($link-color,10%)
		&.active  > a
			color: darken($link-color,10%)
			color: $link-color
			position: relative
			&:hover, &:active, &:focus
				text-decoration: none
			&:after
				position: absolute
				right: -20px
				top: 12px
				content: ""
				// opacity: 0.25
			// background: #eee
	@media (min-width: $screen-lg-min)
		margin-top: 50px
		> li
			display: block



//Slider
//
.slider
	overflow: hidden
	max-height: 480px
	overflow: hidden
	box-shadow: 0 20px 35px -10px rgba(0,0,0,0.15)
// Navigation on top
.nav-top
	margin-right: 38px!important
	> li
		> a
			padding-top: 10px
			padding-bottom: 10px
			color: $text-color-light
			&:hover
				color: $link-color
				text-decoration: underline

.navbar-main
	margin-bottom: 0
	&.navbar-collapse.navbar-collapse
		@media (max-width: $screen-md-max)
			margin-left: -10px
			margin-right: -10px
.nav-main
	margin-right: 0px!important
	z-index: 99
	@media (min-width: $screen-md-min)
		float: right
		margin-right: -$grid-gutter-width/2
		> li > a
			padding: 30px 15px 40px

	@media (max-width: $screen-sm-max)
		float: left
		margin-left: -25px
		> li > a
			padding: 30px 10px 40px
		width: 100%
		margin-top: 20px
		> li:last-child
			float: right
			margin-right: -30px

	// mobile
	@media (max-width: $screen-xs-max)
		display: block
		width: 100%
		margin-left: 0
		> li > a
			padding: 10px 0
		> li.open:before
			display: none!important
	> li
		&.open
			> a
				color: $link-color
		&.open
			&:before
				content: ''
				position: absolute
				margin-top: 65px
				margin-left: 10px
				width: 0
				height: 0
				border-style: solid
				border-width: 0 20px 20px 20px
				border-color: transparent transparent $nav-dropdown-bg transparent

		> a
			// color: #999
			text-transform: uppercase
			// font-size: 13px
			// letter-spacing: 1px
			font-size: 16px
			// letter-spacing: 0.02em
			font-weight: 400
			font-family: $font-family-a
			color: $text-color
			&:hover
				// color: #444
				color: $link-color
	> li:last-child
		button
			margin-right: -$grid-gutter-width+10
	.sub-menu
		padding: 0 10px
		> li
			display: block
			a
				font-size: 15px
				font-weight: 300!important
				color: $text-color
				// color: $link-color

			&.active a

			&.headline
				font-weight: 400
				font-size: 13px
				text-transform: uppercase
				margin-bottom: 5px
				letter-spacing: 0.2em
				margin-top: 0px
				color: $text-color
				font-family: $font-family-a
				@media (max-width: $screen-xs-max)
					margin-top: 20px
				// font-weight: 400
				// color: $text-color-light
				// margin-bottom: 10px


	// not mobile
	@media (min-width: $screen-sm-min)
		> li
			position: static
			z-index: 9999

			.sub-menu
				li
					display: inline-block
					// float: right
					a
						letter-spacing: 0.03em
						color: darken($link-color,10%)
						&:hover
							color: darken($link-hover-color,10%)
			&.open
				// &:before
				// 	content: ''
				// 	position: absolute
				// 	margin-top: 65px
				// 	margin-left: 30px
				// 	width: 0
				// 	height: 0
				// 	border-style: solid
				// 	border-width: 0 20px 20px 20px
				// 	border-color: transparent transparent $nav-dropdown-bg transparent
		.nav-mega
			.sub-menu
				text-align: left
				width: 22%
				box-sizing: border-box
				&:first-child
					width: 34%
				// padding: 0 20px
				float: left
				> li
					display: block
					margin-right: 10px
					float: none
					a
				@media (min-width: $screen-md-min)
					&--offset-1
						margin-left: 34%
						width: 22%!important
					&--offset-2
						margin-left: 56%
						width: 22%!important
					&--offset-3
						margin-left: 60%
						width: 22%
		.dropdown-menu
			border: none
			margin-top: -15px!important
			width: 100%
			left: 0
			position: absolute
			display: none
			box-shadow: none
			padding: 0
			padding-bottom: 20px
			background: transparent

			// border-top: 1px solid #eee
			// border-bottom: 1px solid #eee

		.dropdown-menu-inner
			// padding: 20px 0
			background: $nav-dropdown-bg
			padding: 30px 10px !important
			// background: $nav-dropdown-bg
			max-width: 1200px!important
			@include container-fixed
			@media (min-width: $screen-sm-min)
				width: $container-sm
				box-shadow: 0 20px 40px -10px #e9e9e9
			@media (min-width: $screen-md-min)
				width: $container-md - $grid-gutter-width

			@media (min-width: $screen-lg-min)
				width: $container-lg - $grid-gutter-width


		.open
			.dropdown-menu
				display: block

		.sub-menu
			padding: 0 10px
			> li
				margin-right: 25px
				&.important a
					font-size: 15px
					line-height: 1.8
					@media (min-width: $screen-md-min)
						margin-left: 30px

					font-family: $font-family-a
					font-weight: 700
					text-transform: uppercase
				&.offset
					margin-top: 24px
			li + .headline
				margin-top: 10px

	// make it more rows and less columns on smaller displays
	@media (max-width: $screen-md-min) and  (min-width: $screen-sm-min)
		.nav-mega
			.sub-menu
				min-height: 180px
				width: 33%
