
// basic
@import mixins
@import variables

// externals
@import includes/bootstrap
@import includes/slick
// @import includes/mediaelement
@import includes/datepicker

// typography
@import typography

// structure
@import header
@import footer

// content
@import content
@import content_schedule

body
	background-image: url(../img/body-bg.png)

.container
	//max-width: 1110px !important
	@media (min-width: $screen-md-min)
		// padding-left: 60px
	


.content--indented
	@media (min-width: $screen-md-min)
		.col-md-8,
		.col-md-12
			padding-left: 100px


.content
	min-height: 200px
	img
		max-width: 100%

@media (max-width: $screen-md-min)
	.container
		padding: 0 10px
.container-stretch
	@media (max-width: $screen-md-max)
		width: 100%!important
audio
	display: block
	width: 100%


audio::-webkit-media-controls-enclosure
	max-width: 100%
