@mixin button($color) 
	background-color: $color
	border: 1px solid mix(black, $color, 25%)
	border-radius: 5px
	padding: .25em .5em
	
	&:hover 
		cursor: pointer
		background-color: mix(black, $color, 15%)
		border-color: mix(black, $color, 40%)
	
