
$text-color: #465054
$text-color-light: #888
$text-color-light-semi: #666

body
	font-size: 16px
	color: $text-color

p
	line-height: 1.6
	margin: 10px 0 30px
	font-size: 16px
	font-style: normal
	font-variant: normal
	font-weight: normal
	line-height: 1.8
	margin-bottom: 26px
	font-weight: 400
	color: $text-color
	// font-family: Georgia
	&.lead
		font-size: 22px
		line-height: 1.5
		font-weight: 300
		color: $text-color-light-semi
// p a
// 	text-decoration: underline

h1,
h2,
h3,
h4,
h5,
h6
	font-family: $font-family-a
	font-weight: 500
	span
		font-weight: 300
	// a
	// 	color: $text-color
h1
	font-size: 52px
	line-height: 1
	margin-top: 10px
	font-weight: 800
	@media (max-width: $screen-md-max)
		font-size: 42px
	@media (max-width: $screen-sm-max)
		font-size: 32px
	@media (max-width: $screen-xs-max)
		font-size: 26px
		margin-bottom: 15px
	&.page-title
		margin-bottom: 10px

h1,
h2,
h3,
h4,
	// text-transform: uppercase
h4
	font-weight: 800
	margin-bottom: 0px
	+ p
		margin-top: 0


hr
	border-top: 1px solid #ddd
.section-headline,
.widget h3
	margin-top: 30px
	margin-bottom: 30px
	text-transform: uppercase
	font-weight: 400
	letter-spacing: 0.1em
	color: $text-color
	font-size: 13px

.tab-panel__tab
	display: inline-block
	margin-right: 10px
	a
		color: $text-color-light
	&.active a
		color: $text-color
		font-weight: 800
		&:focus, &:hover 
			text-decoration: none



// LINKS
.link-more-content
	font-size: 15px
	font-family: $font-family-a

	&:after
		content: " →"
		position: absolute
		top: 0
		right: -20px
	// background: $link-color
	display: inline-block
	font-weight: bold
	border-radius: 2px
	position: relative
	color: $link-color
	text-transform: uppercase
	margin-top: 8px
	margin-bottom: 28px
	&:hover,
	&:active,
	&:focus

// LISTS
ul
	padding: 0

	li
		margin: 2px 0



.datelist,
.linklist
	padding: 0
	&__item
		display: block
		padding: 7px 0
		font-size: 14px
		border-bottom: 1px solid #e5e5e5
		&:last-child
			border-bottom: 0
.datelist
	&__item
		color: $text-color-light
		font-size: 14px
	&__hour, &__date
	&__date
		color: darken($text-color-light,10%)


// BREADCRUMBS
$breacrumbs-color: $text-color-light
.breadcrumbs
	margin-top: 20px
	@media (min-width: $screen-sm-min)
		margin-top: 50px
	font-size: 13px
	color: #ccc
	span
		color: $breacrumbs-color
		display: inline-block
		margin-right: 5px
		text-transform: uppercase
		a
			color: $breacrumbs-color
	>*
		margin-right: 5px
	>*:last-child
		margin-left: 0px
	>*:last-child
		font-weight: bold
		color: darken($text-color-light,20%)




.copyright
	margin: 10px 0
	padding: 0
	font-size: 13px
	line-height: 16px

	a
		display: inline
		color: $text-color
		font-weight: bold




a
	color: #404040

a:hover,
a:focus
	color: #0085a1

a
	color: $link-color

.icon
	width: 16px
	height: 16px

.icon-24
	height: 24px
	width: 24px

.icon-32
	height: 32px
	width: 32px


// PAGER
.pager
	padding: 0 15px
	margin-top: 0
	li > a,
	li > span
		font-size: 15px
		font-family: $font-family-a

		&:after
			content: " →"
			position: absolute
			right: -20px
		// background: $link-color
		display: inline-block
		font-weight: bold
		padding: 0
		background: none
		border: none
		border-radius: 2px
		position: relative
		color: $link-color
		text-transform: uppercase
		margin-top: 8px
		margin-bottom: 8px
		&:hover
			text-decoration: underline
	li.previous > a
		margin-right: 20px
		float: right
	li.next > a
		float: left
		margin-left: 20px
		&:after
			content: "←"
			left: -20px
			right: auto

// BUTTONS
//
.btn-default
	color: #fff
	background-color: transparent
	border-color: transparent
	border-radius: 0
	color: $link-color
	&:hover, &:active, &:focus
		background-color:  darken(#798C90,15%)
		border-color: #F9F9F9
		background-color: transparent
		border-color: transparent
		color: $link-hover-color
